@charset "UTF-8";
#preloader {
/*   這是整個會蓋住畫面的底色色塊  */
 position: fixed;
 width: 0%;
 height: 0%;
 left: 0%;
 top: 0%;
 background-color: #f4f4f4;
 z-index: 3002
}

#status {
/*   這是中間loading的gif坐標css,我們盡量讓他畫面置中  */
 position: fixed;
 width: 218px;
 height: 419px;
 margin-left: -109px;
 margin-top: -110px;
 left: 50%;
 top: 50%;
 background-color: #f4f4f4
}


#loading_txt {
/*   這是讀取icon旁邊的文字區塊，樣式可以自己定義*/
 font-size: 14px;
 position: fixed;
 margin-left: -40px;
 margin-top: -12px;
 left: 50%;
 top: 50%
}